* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: rgb(91, 36, 108);
    --secondayColor: rgb(97, 21, 147);
    --bg-color: rgb(255, 250, 243);
    --vilote: #4c00d0;
}

body {
    background-color: var(--bg-color);
}

ul {
    list-style: none;
}

/*****Header*****/

.nav-bar {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vmax;
    padding: 0 3rem;
    padding: 0 5vmax;
}

.nav-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    gap: 10px;
}

.logo {
    filter: drop-shadow(1px 1px 1px var(--secondayColor));
}

.nav-logo a h2 {
    text-shadow: 2px 1px 1px #ffffffd9, 0 0 5px #000000;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 3vmax;
    font-weight: 700;
}

.nav-list a {
    text-decoration: none;
    font-size: 1.05rem;
    color: #000;
}

.nav-btn {
    padding-right: 1.7vmax;
}

.nav-btn input {
    padding: .7rem 1.1rem;
    border-radius: 6px;
    border: none;
    background-color: var(--btn-color);
    color: white;
    font-size: .8rem;
}

.nav-btn input:hover {
    transform: scale(1.02);
    background-color: rgb(92, 33, 255);
}

.nav-btn input:active {
    transform: scale(.9);
}

.menu-icon {
    display: none;
}

/****** hero section*****/

.hero-section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1.7fr;
    grid-template-rows: 3fr .6fr;
    flex-direction: column;
    text-align: center;
}

@keyframes move-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.hero-text {
    justify-self: center;
    align-self: center;
    text-align: left;
    padding-left: 6.3vmax;
    animation-name: move-left;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.mini-heading {
    color: var(--vilote);
    font-size: .9rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.main-heading {
    font-size: 4.5vmin;
}

.sub-heading {
    font-size: 2vmin;
    padding: 2vmax 0;
}

.btns {
    display: flex;
    gap: 2vmax;
}

.btn-1 input,
.btn-2 input {
    padding: .4rem .8rem;
    border-radius: 6px;
}

.btn-1 input {
    background-color: var(--btn-color);
    color: #fff;
}

.btn-1 input:hover {
    background-color: #5500a4;
}

.btn-1 input:active, .btn-2 input:active {
    transform:scale(.9)
}

.btn-2 input {
    background-color: rgb(46, 46, 46);
    color: #fff;
}

.btn-2 input:hover {
    background-color:rgb(116, 115, 115);
    color: #fff;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 33vmax;
    height: 70vmin;
    box-shadow: 0 0 25px #ababab;
    border-radius: 20px;
}

.topics {
    margin: auto;
    width: 36vmax;
    grid-column: 1/3;
}

.topics h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.list {
    height: 4.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color: #f6e1ff;
    background-color: #a896b9;
    border-radius: 4px;
}

/***** card section *****/

.card-section {
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading-s2 {
    font-size: 2.7rem;
    padding: 1rem;
}

.sub-heading-s2 {
    width: 50%;
    font-size: .9rem;
}

.card-container-s2 {
    height: 80%;
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card {
    width: 90%;
    height: 90%;
    background: #0000008a;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card-1 {
    background-color: rgb(77, 125, 220);
}

.card-2 {
    background-color: rgb(216, 46, 103);
}

.card-3 {
    background-color: rgb(255, 166, 32);
}

.card-4 {
    background-color: #55bdea;
}

.card-5 {
    background-color: rgb(66, 173, 66);
}

.card-6 {
    background-color: #8e75a9;
}

.card p {
    width: 90%;
}

/**** feedback section ****/

.feedback-section {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
}

.feed-card {
    height: 200px;
    width: 80%;
    margin: 1.3rem;
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    padding: .5rem;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-card-container h2 {
    font-size: 2.4rem;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    margin: 10px;
    background-image: url(assets/web-dev.jpg);
    background-size: cover;
}

.name-designation {
    padding: 5px;
}

.feedback {
    width: 70%;
}

/***** newsLetter Section *****/

.newsletter-section {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 6rem;
    background-color: #fff;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
}

.form {
    justify-self: center;
    align-self: center;
    margin: 0 7.5vmin;
}

.form h2 {
    color: #5500a4;
    font-size: 5vmin;
}

.email {
    margin: 10px 0;
}

.email input {
    padding: .3rem 1rem;
}

.send-btn {
    background-color: #5500a4;
    border: 3px solid #5403a193;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #494949bc;
    margin: 5px 0;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #5913e5;
}

.send-btn:active{
    transform:scale(.9);
    box-shadow: none;
}

.form .policy {
    font-size: .8rem;
}

/***** footer *****/

.footer-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 6rem;
}

.container a {
    display: flex;
    align-items: center;
    color: var(--secondayColor);
    text-shadow: 2px 1px 1px #ffffffd9, 0 0 5px #000000;
}

.container a img {
    width: 45px;
    height: 30px;
}

.container p {
    margin: 25px 0;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links a img {
    width: 30px;
}

.social-links a img:hover {
    transform: scale(1.1);
}

.footer-lists ul li {
    margin: 2vmin 0;
    font-size: .9rem;
}

.footer-lists ul li,
.container a,
.footer-lists h3:hover {
    cursor: pointer;
}

.footer-lists h3 {
    margin-bottom: 25px;
}

@media (max-width:780px) {

    body {
        background-color: #fff;
    }

    .menu-icon {
        display: flex;
        width: 50px;
        height: 30px;
        filter: drop-shadow(1px 1px);
    }

    .nav-list,
    .nav-btn {
        display: none;
    }

    .list {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10px;
    }

    .list div {
        padding: .2vmin;
    }

    .hero-section {
        display: flex;
        height: auto;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 80%;
        text-align: center;
        margin-top: 2rem;
    }

    .btns {
        display: flex;
        justify-content: center;
    }

    .hero-img {
        width: 70vmax;
        height: 70vmax;
        margin: 3rem 0;
    }

    .card-section,
    .feed-card-container {
        height: auto;
    }

    .card-container-s2,
    .feed-card-container {
        grid-template-columns: 1fr;
    }

    .card {
        height: 28vmin;
    }

    .feed-card-container {
        justify-items: center;
    }

    .feed-card {
        width: 40%;
    }

    .newsletter-img {
        display: none;
    }

    .newsletter-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url(assets/studysync.jpg);
        box-shadow: 0 0 20px #32323289;
        height: 50vh;
    }

    .form {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100%;
        padding: 0 2vmin;
    }

    .form:hover {
        transition: all 2s;
        border-radius: 10px;
        backdrop-filter: blur(3px);
        padding: 0 10vmin;
        margin: 2vmin;
        border: none;
        box-shadow: inset 0 0 20px #f2f2f2;
    }

    .footer-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .container {
        grid-column: 1/3;
    }

    .container a,
    .social-links {
        justify-content: center;
    }

    .social-links {
        margin-bottom: 20px;
    }
}