* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header {
    height: 5rem;
    width: 100%;
}


h2 {
    font-size: 1.6rem;
    padding: 1rem 0 .5rem 0;
    text-shadow:
        -1px 0 #878787,
        .5px 0 #878787,
        0 0 15px #aeaeae;
}

li {
    list-style: none;
    padding: .2rem 0;
}

.nav-container {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 .3rem;
}

.nav-container img {
    width: 4.5rem;
    height: 3.1rem;
    filter: drop-shadow(1px 1px 25px #000);
}

.main-header {
    font-size: 2.9rem;
    padding-left: 7rem;
    text-shadow:
        -.5px 0 #878787,
        .5px 0 #878787;
}

.nav-container a {
    text-decoration: none;
    font-weight: 800;
}

.nav-menu,
.resume-nav-menu {
    display: flex;
    gap: 2vmin;
    font-size: 1rem;
}

.nav-list,
.resume-nav-list {
    list-style: none;
}

/***** resume *****/


.resume-container {
    margin: 1.5rem;
    width: 110vmin;
    background: #cccccc25;
    box-shadow:
        2px 2px 25px #0004,
        inset -2px -2px 25px #8d8d8d41;
    border: 6px solid #8d8d8d16;
    border-radius: .4rem;
    padding: 2rem;
}

.resume-nav {
    display: flex;
    justify-content: end;
}

.resume-header {
    height: 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-header h1 {
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    text-shadow:
        -1.5px 0 #878787,
        .5px 0 #878787;
}

.resume-header a {
    text-decoration: none;
}

.profile {
    text-align: justify;
}

.education-table th,
.education-table td {
    padding: .5rem .8rem;
}

.education-table td {
    font-size: .85rem;
}

.skill {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .3rem;
    background: #b8b8b826;
    box-shadow:
        inset 0 0 25px rgba(186, 186, 186, 0.207),
        0 0 5px #0004;
}

.skill ul {
    width: 50%;
    margin: 0 .9rem;
}

.skill li {
    display: flex;
    justify-content: space-between;
}

.projects h3 {
    padding: .6rem 0;
    text-shadow:
        -1px 0 #878787,
        .5px 0 #878787;
}

/***** landing page *****/


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 60vmin;
    height: 80vmin;
    background: #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    transform: scale(.6);
}